.homeContainer{
    height: 83vh;
}
.homeBody{
    height: inherit;
    width: 100%;
    margin: 0;
}

.homePhoto{
    height: 100%;
    width: 95%;
}

@media screen and (max-width:768px){
    .homeContainer{
        height: 80vh;
    }   
}

@media screen and (max-width:600px){
    .homeContainer{
        height: auto;
    }
    .homeContainer .homeCol{
        margin-bottom: 10%;
    }
}